* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  overflow: hidden scroll;
}

body {
  background-color: #fff;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  line-height: 2;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  width: 100%;
  height: 22vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #000;
  position: fixed;
  z-index: 1;
}

h1 {
  font-family: 'Indie Flower';
}

h1 a {
  padding: 10px 20px;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 0 20px;
}

nav ul li a {
  padding: 10px 20px;
}

nav ul li a.active {
  font-weight: bold;
  pointer-events: none;
  cursor: default;
}

main {
  position: relative;
  top: 22vh;
  width: 100%;
}

main a {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  header {
    height: 15vh;
  }

  main {
    top: 15vh;
  }
}

@media screen and (min-width: 1366px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    height: 8vh;
  }

  main {
    top: 8vh;
  }
}

/* HOME */

#banner {
  width: 100%;
  height: auto;
}

header.home {
  height: 20vh;
  flex-direction: column;
  justify-content: space-evenly;
  color: #000;
  background-color: #fff;
  position: static;
}

header.home nav ul li a:hover {
  background-color: #adc3d1;
  border-radius: 5px;
  transition: 400ms;
}

main.home {
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 20px;
}

main.home article {
  border-top: #ccc solid 1px;
  max-width: 90vw;
  padding: 20px 0;
}

/* #ski {
  width: 400px;
  height: auto;
} */

@media screen and (min-width: 768px) {
  header.home {
    height: 12vh;
  }

  main.home article {
    padding: 40px;
  }
}

@media screen and (min-width: 1366px) {
  header.home {
    height: 20vh;
  }

  main.home article {
    max-width: 60vw;
  }
}

/* PHOTOS */

main.photos {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0;
  padding: 20px;
}

main.photos section.column {
  display: flex;
  flex-direction: column;
}

main.photos img {
  width: 100%;
  height: auto;
  background-color: #ccc;
  margin: 10px 0;
}

@media screen and (min-width: 768px) {
  main.photos {
    padding: 20px 0;
  }

  main.photos img {
    width: 60%;
    margin: 20px auto;
  }
}

@media screen and (min-width: 1366px) {
  main.photos {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding: 70px 40px;
  }

  main.photos img {
    width: 100%;
  }
}

/* BLOG */

main.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  background-color: #adc3d1;
}

main.blog article {
  max-width: 90vw;
  margin: 40px 0;
  padding: 20px;
  border: #ccc solid 1px;
  border-radius: 5px;
  background-color: #fff;
}

main.blog h2 {
  font-size: 20px;
}

main.blog ol {
  margin-left: 40px;
}

@media screen and (min-width: 1366px) {
  main.blog h2 {
    font-size: 24px;
  }

  main.blog {
    padding: 50px 0;
  }

  main.blog article {
    max-width: 64vw;
    padding: 40px;
  }
}
